<link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<section class="scroll-mt-24" id="contact">
    <div class="px-8 md:px-12 py-2 max-w-2xl mx-auto">
        <div class="h-full bg-red-700 rounded-3xl text-center overflow-hidden p-8">
            <h2 class="text-5xl tracking-tighter font-normal md:text-4xl text-white">Sucursal Urquiza</h2>
            <div class="flex mt-8 justify-center space-x-4">
                <a href="https://wa.me/543875051235" target="_blank"
                   class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto">
                <span class="mr-2">
                    <i class="fab fa-whatsapp text-lg"></i>
                </span>
                    <span>+549 387505 1235</span>
                </a>
                <a href="tel:(0387) 4316036" target="_blank"
                   class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto">
                <span class="mr-2">
                    <i class="fas fa-phone-alt text-lg"></i>
                </span>
                    <span>+549 387431 6036</span>
                </a>
            </div>
            <div class="mt-8 flex justify-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7244.240183549105!2d-65.426553!3d-24.791341!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3b2944d27ff%3A0x79de6d31846ad9b2!2sTamaro!5e0!3m2!1ses!2sar!4v1714419530873!5m2!1ses!2sar"
                        width="500" height="450" style="border:0 ;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>



    <div class="px-8 md:px-12 py-2 max-w-2xl mx-auto">
        <div class="h-full bg-red-700 rounded-3xl text-center overflow-hidden p-8">
            <h2 class="text-5xl tracking-tighter font-normal md:text-4xl text-white">Sucursal Urquiza</h2>
            <div class="flex mt-8 justify-center space-x-4">
                <a href="https://wa.me/543875051235" target="_blank"
                   class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto">
                <span class="mr-2">
                    <i class="fab fa-whatsapp text-lg"></i>
                </span>
                    <span>+549 387505 1235</span>
                </a>
                <a href="tel:(0387) 4316036" target="_blank"
                   class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto">
                <span class="mr-2">
                    <i class="fas fa-phone-alt text-lg"></i>
                </span>
                    <span>+549 387431 6036</span>
                </a>
            </div>
            <div class="mt-8 flex justify-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d905.4954334097738!2d-65.478574!3d-24.796079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941be9a3802577b9%3A0x41c72f01dc5027bb!2sPastas%20Tamaro!5e0!3m2!1ses!2sar!4v1714420035530!5m2!1ses!2sar"
                        width="500" height="450" style="border:0 ;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>


    <div class="px-8 md:px-12 py-2  max-w-2xl mx-auto">
        <div
                class="h-full bg-white rounded-3xl text-center overflow-hidden p-8"
        >

            <div class="flex justify-center space-x-4">
                <a href="https://wa.me/543874660046" target="_blank"
                   class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto">
    <span class="mr-2">
        <i class="fab fa-instagram text-lg "></i>
    </span>
                    <span>@tamaro_pastas</span>
                </a>


                <a href="https://www.facebook.com/PastasTamaro" target="_blank"
                   class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto">
    <span class="mr-2">
        <i class="fab fa-facebook-f text-lg "></i>
    </span>
                    <span>@pastastamaro</span>
                </a>

            </div>
            <br>
            <div class="flex  justify-center">

                <a href="mailo:tamaro-fratres@hotmail.com" target="_blank"
                   class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-gray-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none w-auto">
    <span class="mr-2">
        <i class="fas fa-envelope text-lg "></i>
    </span>
                    <span>tamaro-fratres@hotmail.com</span>
                </a>
            </div>
        </div>
    </div>


</section>


