---
import {designwork} from "../../data/designwork.json";
---
<section class="scroll-mt-24" id="pricing">


  <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto">
    <div class="p-8 bg-black rounded-3xl">
      <div class="inline-flex items-center  w-full border-white/10">
        <p class="text-3xl text-white">Extras</p>
      </div>
    </div>


    <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start" role="option"
         x-bind="disableNextAndPreviousButtons">
      <img src="/bal.png" alt=""/>
    </div>

    <table class="w-full border border-gray-200 divide-y divide-gray-200">
      <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tallarines o
          Spaguettis
        </th>
        <th class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">1 kg = 6
          porciones
        </th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="px-6 py-4">Fideos al Huevo</td>
        <td class="px-6 py-4 text-right">$6000</td>
      </tr>
      <tr>
        <td class="px-6 py-4">Fideos de Espinaca</td>
        <td class="px-6 py-4 text-right">$7000</td>
      </tr>
      <tr>
        <td class="px-6 py-4">Fideos de Morrón</td>
        <td class="px-6 py-4 text-right">$7000</td>
      </tr>
      </tbody>
    </table>




  </div>
</section>
