---
import {designwork} from "../../data/designwork.json";
---
<section class="scroll-mt-24" id="pricing">


    <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto">
        <div class="p-8 bg-black rounded-3xl">
            <div class="inline-flex items-center  w-full border-white/10">
                <p class="text-3xl text-white">Extras</p>
            </div>
        </div>


        <div class="items-center justify-center w-full flex flex-col py-8 shrink-0 snap-start"
             role="option" x-bind="disableNextAndPreviousButtons">
            <img src="/empanada.webp" alt=""
                 style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
        </div>

        <div class="bg-white mx-auto rounded-3xl">

            <table class="w-full divide-y divide-gray-200 ">
                <thead class="bg-red-700">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                        Detalle/Cantidad
                    </th>
                    <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                        Precio
                    </th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                <tr>
                    <td class="px-6 py-4">Empanadas &Aacute;rabes (docena)</td>
                    <td class="px-6 py-4 text-right">$6000</td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Criollas de carne (docena)</td>
                    <td class="px-6 py-4 text-right">$6000</td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Pollo (docena)</td>
                    <td class="px-6 py-4 text-right">$6000</td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Queso y cebolla (docena)</td>
                    <td class="px-6 py-4 text-right">$6000</td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Discos para empanadas (docena)</td>
                    <td class="px-6 py-4 text-right">$1000</td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Pascualina (por paquete)</td>
                    <td class="px-6 py-4 text-right">$2000</td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Masa para lasagna (por kilogramo)</td>
                    <td class="px-6 py-4 text-right">$6000</td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Queso rallado (100 gramos)</td>
                    <td class="px-6 py-4 text-right">$2000</td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Crema de leche (100gr)</td>
                    <td class="px-6 py-4 text-right">$1600</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
