---
import {designwork} from "../../data/designwork.json";
---
<section class="scroll-mt-14" id="work">

    <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto">
        <div class="p-8 bg-black rounded-3xl">
            <div class="inline-flex items-center  w-full border-white/10">
                <p class="text-3xl text-white">Pastas</p>
            </div>
        </div>

        <div class="max-w-2xl mx-auto">

            <div x-data="{selected:null}">
                <ul
                        class="list-none text-black bg-white rounded-3xl divide-y mt-8"
                        role="list"
                        @click="open = !open"
                >
                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 1 ? selected = 1 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Fideos
                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                                x-ref="container1"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/fideos.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                            Tallarines o Spaguettis
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 kg = 6 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Fideos al Huevo</td>
                                        <td class="px-6 py-4 text-right">$6000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Fideos de Espinaca</td>
                                        <td class="px-6 py-4 text-right">$7000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Fideos de Morrón</td>
                                        <td class="px-6 py-4 text-right">$7000</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </li>
                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 2 ? selected = 2 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Ñoquis
                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
                                x-ref="container2"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/noquis.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                            Ñoquis
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 kg = 3 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Ñoquis de papa</td>
                                        <td class="px-6 py-4 text-right">$7000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Ñoquis de espinaca</td>
                                        <td class="px-6 py-4 text-right">$7500</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </li>


                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 3 ? selected = 3 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Ravioles
                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
                                x-ref="container3"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/ravioles.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                            Ravioles
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 caja (2 planchas) = 3 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Verdura y carne</td>
                                        <td class="px-6 py-4 text-right">$7000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Verdura y ricota</td>
                                        <td class="px-6 py-4 text-right">$7000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Verdura y pollo</td>
                                        <td class="px-6 py-4 text-right">$7500</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Pollo y queso</td>
                                        <td class="px-6 py-4 text-right">$7000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Ricota y queso</td>
                                        <td class="px-6 py-4 text-right">$7000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Ricota y queso de cabra</td>
                                        <td class="px-6 py-4 text-right">$7000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Ricota, queso y jamón</td>
                                        <td class="px-6 py-4 text-right">$7500</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 4 ? selected = 4 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Canelones
                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''"
                                x-ref="container4"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/canelones.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                            Canelones
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 kg = 3 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Choclo y queso</td>
                                        <td class="px-6 py-4 text-right">$12000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Choclo y queso de cabra</td>
                                        <td class="px-6 py-4 text-right">$12000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Verdura y carne
                                        </td>
                                        <td class="px-6 py-4 text-right">$12000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Verdura y ricota</td>
                                        <td class="px-6 py-4 text-right">$12000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>


                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 5 ? selected = 5 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Raviolón
                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''"
                                x-ref="container5"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/raviolon.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                           Raviolón
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 kg = 3 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Verdura y carne</td>
                                        <td class="px-6 py-4 text-right">$12000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Verdura y ricota
                                        </td>
                                        <td class="px-6 py-4 text-right">$12000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>


                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 6 ? selected = 6 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Sorrentinos
                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 6 ? 'max-height: ' + $refs.container6.scrollHeight + 'px' : ''"
                                x-ref="container6"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/sorrentinos.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                            Lasagna
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 kg = 4 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Ricota, jamón y queso</td>
                                        <td class="px-6 py-4 text-right">$15000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Ricota y queso</td>
                                        <td class="px-6 py-4 text-right">$15000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>


                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 7 ? selected = 7 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Panzottis
                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 7 ? 'max-height: ' + $refs.container7.scrollHeight + 'px' : ''"
                                x-ref="container7"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/panzottis.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                            Panzottis
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 kg = 4 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Espinaca y queso</td>
                                        <td class="px-6 py-4 text-right">$15000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Espinaca y carne</td>
                                        <td class="px-6 py-4 text-right">$15000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>


                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 8 ? selected = 8 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Capresse
                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 8 ? 'max-height: ' + $refs.container8.scrollHeight + 'px' : ''"
                                x-ref="container8"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/capresse.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                            Capresse
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 kg = 4 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Queso mozzarella, queso pategras, queso cuartirolo, tomate y albahaca</td>
                                        <td class="px-6 py-4 text-right">$18000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>


                    <li class="relative">
                        <button
                                class="w-full p-4 text-left"
                                @click="selected !== 9 ? selected = 9 : selected = null"
                                type="button"
                        >
                            <div class="items-center flex justify-between text-black">
                                <p class="text-lg tracking-tight text-black">
                                    Agnolottis

                                </p>
                                <svg
                                        class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        :class="{'rotate-180': open, 'rotate-0': !open}"
                                >
                                    <path
                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path>
                                </svg
                                >
                            </div>
                        </button
                        >
                        <div
                                class="relative overflow-hidden duration-700 max-h-0 transition-all"
                                style=""
                                x-bind:style="selected == 9 ? 'max-height: ' + $refs.container9.scrollHeight + 'px' : ''"
                                x-ref="container9"
                        >
                            <div class="text-sm text-zinc-500 p-4 pt-0">
                                <div class="items-center justify-center w-full flex flex-col shrink-0 snap-start"
                                     role="option" x-bind="disableNextAndPreviousButtons">
                                    <img src="/agnolottis.webp" alt=""
                                         style="border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;"/>
                                </div>
                                <br>

                                <table class="w-full divide-y divide-gray-200">
                                    <thead class="bg-red-700">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider rounded-tl-2xl">
                                            Agnolottis
                                        </th>
                                        <th class="px-6 py-3 text-right text-xs font-medium text-white uppercase tracking-wider rounded-tr-2xl">
                                            1 kg = 4 porciones
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4">Zapallo y queso</td>
                                        <td class="px-6 py-4 text-right">$14000</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4">Zapallo y queso de cabra</td>
                                        <td class="px-6 py-4 text-right">$14000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>